.banner{
    min-height: 100vh;
    width: 100%;
    background-image: url(../Images/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }
  .banner h1{
    margin-top: 230px;
    display: inline-block;
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 0 2px #000;
    width: 50%;
    line-height: 4.2rem;
    font-weight: 100;
  }
  .banner h1 span{
    background-color: var(--themeYellow);
    display: inline-block;
    line-height: 3.5rem;
    padding: 0 15px;
    font-weight: 600;
    border-radius: 5px;
  }
  .banner p{
    color: #fff;
    width: 50%;
    text-shadow: 0 0 2px #000;
    margin-top: 10px;
  }
  .banner button{
    background-color:var(--themeYellow);
    border: 0;
    outline: none;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 3px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .dropbtn {  
    background-color:#666666;
    border: none;
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    transition: 0.3s; 
    
  }  
    
  .dropbtn:hover {  
    border: none;
    background-color: var(--themeYellow);
    text-decoration: none;
    color: whitesmoke;
  
  }   
  .dropdown {  
    position: relative;  
    display: inline-block;  
    list-style-type: none;
    text-decoration: none;
  }  
    
  .dropdown-content {  
    display: none;  
    position: absolute;  
    background-color: white;  
    min-width: 123px;  
    overflow: auto;    
  }  
    
  .dropdown-content a {  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
    font-family: 'Ubuntu',sans-serif;
  }  
    
  .dropdown a:hover {  
     background-color: #ddd;  
   }  
    
  .show {  
    display: block;  
  } 
  button.dropbtn{
    background-color: rgba(0.0, 0.0, 0.0, 0.009);
    font-size: 16px;
    padding: 0 15px;
    border-radius: 0;
    margin-right: 80px;
  } 
  /*------------------------------------------record applicant ------------*/
   .applicantPage .header {
      border-bottom: 1px solid #f0f0f0;
      padding: 20px 40px;
  }
   .applicantPage .header h2 {
      margin: 0;
      font-weight: bold;
  }
  
   .applicantPage .form {
      padding: 30px 40px;	
  }
  
  .applicantPage .form-control{
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
      border: none;
  }
  
  .applicantPage .form-control label{
      display: inline-block;
      margin-bottom: 5px;
  }
  /*--------------input-------------*/
  .applicantPage .form-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
  }
  
  
  /* submit button */
  
  .applicantPage .form .btn {
      background-color: #83d3cf;
      border: 2px solid #83d3cf;
      border-radius: 4px;
      color: #fff;
      display: block;
      font-family: inherit;
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
      width: 100%;
  }
  .applicantPage .container {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      width: 600px;
    max-width: 100%;
    margin-top: 80px;
  }
  #attachDoc{
     
    font-size: 13px;
    font-family: cursive;
    background: white;
    border-radius: 50px;
    box-shadow: 3px 3px 6px #83d3cf;
    width: 470px;
    height:50px;
    outline: none;
    margin-top: 10px ;
    margin-bottom: 30px;
  }
  #attachDoc::-webkit-file-upload-button{
    color: white;
    background:  #83d3cf;
    padding: 5px;
    border: none;
    border-radius: 50px;
    outline: none;
  }
  .btn-outline-light{
  background-color:#ffc10d;
  border:none
  }
  .btn-outline-light:hover{
    background-color:#83d3cf;
    color: white;
    border: none;
    }
    .dropdown-content a{
      text-decoration: none

    }
    .dropdown-content a:hover{
      text-decoration: none;
      background-color: rgb(244, 236, 75);

    }